%section
  .container-fluid
    %h1 Projects We Support

    %article.media
      = link_to image_tag("tep-logo.png", class: "mr-3"), TASSO_ISLAND_URL
      .media-body
        %h5
          Tasso Ecotourism Project
          = link_to "Find out more", TASSO_ISLAND_URL, class: "btn btn-primary btn-sm"
        %p We support ecotourism on Tasso Island in Sierra Leone.

    %article.media
      = link_to image_tag("hospital.png", class: "mr-3"), projects_island_hospital_path
      .media-body
        %h5
          Tasso Hospital
          = link_to "Find out more", projects_island_hospital_path, class: "btn btn-primary btn-sm"
        %p
          We are helping to rebuild the abandoned hospital on Tasso Island.

    %article.media
      = link_to image_tag("water-for-children.png", class: "mr-3"), projects_water_for_children_path
      .media-body
        %h5
          Water for Children
          = link_to "Find out more", projects_water_for_children_path, class: "btn btn-primary btn-sm"
        %p
          The children of Tasso Island are exposed to Typhoid and Cholera. We want to help.
