.container-fluid
  = render 'pills'
  %h1 Building an Island Hospital
  .fund-raising
    %h2 Fund Raising
    .progress
      .progress-bar(role="progressbar" style="width: 25%" aria-valuenow="4000" aria-valuemin="0" aria-valuemax="10000")
    %p £4,000 has been donated so far and our target is £10,000.

  .row
    .col-lg-7
      %p During the civil war in the 1990's, an NGO started to build a Hospital on Gladi but the money ran out in 2002. Since then, the island's only paid nurse has been the sole provider of medical assistance to 5000 people. The nurse attends to patients in a two bedroom house which he rents using his own salary. He sleeps on one of the three beds providing there is one spare. Any emergency can only be dealt with by taking the patient by motorbike, then canoe, and then by taxi or motorbike to the Government Hospital in Lungi, 25 miles away. Not surprisingly few seriously ill patients survive the journey.
      %p The Gladi-Gladi Trust is working with the Island Community to relaunch the Hospital Project. Surveys have been carried out, plans have been drawn and fund-raising is in progress.
      %p The next step is to secure official support from the Ministry of Health and Sanitation and the Freetown City Council to ensure that when the buildings are completed the necessary beds, equipment and medical supplies can be made available. Subject to gaining official backing the Gladi-Gladi Trust hopes to let a tender and engage the Island's masons and carpenters before the end of 2017. At the same time, efforts are being made to recruit volunteers to work on the project, mixing cement and plaster, erecting roofing timbers and laying floor tiles.
      %p The aim is to have a brand new hospital in operation on Gladi by the end of 2018.
    .col-lg-5
      .jumbotron
        %h3 Rowing Fund Raisers
        = image_tag "rowing.jpg", class: "w-100 pt-1 pb-2"
        %p Special thanks go to the group of eight rowers (all over the age of 70) who competed in the Boston Marathon in the United Kingdom on Sunday 17 September 2017, rowing 44 kilometres (33 miles) to raise money for the Gladi Island Projects.
        .text-right
          = link_to "Donate Here", "https://www.justgiving.com/crowdfunding/gladi-island", class: "btn btn-success"
  .row
    .col-lg-5
      %figure.figure
        = image_tag "hospital-group.jpg", class: "figure-img img-fluid", alt: "Survey Team"
        %figcaption Survey Team
      %figure.figure
        = image_tag "hospital-1.png", class: "figure-img img-fluid"
      %figure.figure
        = image_tag "hospital-2.jpg", class: "figure-img img-fluid"
      %figure.figure
        = image_tag "hospital-3.jpg", class: "figure-img img-fluid"

    .col-lg-7
      %h3 The Proposed Hospital
      %figure.figure
        = image_tag "hospital-front.jpg", class: "figure-img img-fluid", alt: "Front elevation of the proposed hospital"
        %figcaption Front Elevation
      %figure.figure
        = image_tag "hospital-plan.jpg", class: "figure-img img-fluid", alt: "Floor Plan of the proposed hospital"
        %figcaption Floor Plan
